<div class="page-header">
  <%= link_to propuesta_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_propuestum_path(@propuestum), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Ver propuestum</h1>
</div>

<dl class="dl-horizontal">
  <dt>Numero:</dt>
  <dd><%= @propuestum.numero %></dd>

  <dt>Nombre:</dt>
  <dd><%= @propuestum.nombre %></dd>

  <dt>Estado:</dt>
  <dd><%= @propuestum.estado %></dd>

  <dt>Proyecto:</dt>
  <dd><%= @propuestum.proyecto %></dd>

</dl>
