<div class="page-header">
  <%= link_to evaluadors_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <h1>Información del Evaluador</h1>
</div>

<dl class="dl-horizontal">

  <dt>Nombre:</dt>
  <dd><%= @evaluador.nombre %></dd>

  <dt>Área de Conocimiento:</dt>
  <dd><%= @evaluador.area_conocimiento %></dd>

  <dt>Fecha Inicial:</dt>
  <dd><%= @evaluador.fecha_inicial %></dd>

  <dt>Fecha Final:</dt>
  <dd><%= @evaluador.fecha_final %></dd>
</dl>

<h3>Mis Evaluaciones</h3>
<div class="btn-group">
  <%= link_to listar_informes_evaluador_evaluador_path, :class => 'btn btn-default' do %> Informes Asignados para Evaluación
  <% end %>
</div>

<h3>Seguimiento de Propuestas</h3>
<div class="btn-group">
  <%= link_to listar_propuestas_asignadas_evaluador_path, :class => 'btn btn-default' do %>Evaluaciones Asignadas
  <% end %>
</div>
