<div class="page-header">
    <% if policy(Becario).new? %>
      <%= link_to new_becario_path, :class => 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-plus"></span>
        Nuevo Becario
      <% end %>
    <% end %>
  <h1>Lista de becarios</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Condonacion beneficiarios</th>
            <th>Cumple requisitos</th>
            <th>DATOS DEL BENEFICIARIO</th>
            <th>Numero DI</th>
            <th>Nombre</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>Fecha Nacimiento</th>
            <th>Departamento Nacimiento</th>
            <th>Género</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Direccion Residencial</th>
            <th>Ciudad</th>
            <th>Direccion Profesional</th>
            <th>Info beneficiario</th>
            <th>Info programa doctoral</th>
            <th>Info tesis</th>
            <th>Registro pasantia</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @becarios) do |becario| %>
            <td><%= becario.condonacion_beneficiarios %></td>
            <td><%= becario.cumple_requisitos %></td>
            <td></td>
            <td><%= becario.numero_DI %></td>
            <td><%= becario.nombre %></td>
            <td><%= becario.apellido1 %></td>
            <td><%= becario.apellido2 %></td>
            <td><%= becario.fecha_nacimiento %></td>
            <td><%= becario.departamento_nacimiento %></td>
            <td><%= becario.genero %></td>
            <td><%= becario.email %></td>
            <td><%= becario.telefono %></td>
            <td><%= becario.direccion_residencial %></td>
            <td><%= becario.ciudad %></td>
            <td><%= becario.direccion_profesional %></td>
            <td><%= becario.info_beneficiario %></td>
            <td><%= becario.info_programa_doctoral %></td>
            <td><%= becario.info_tesis %></td>
            <td><%= becario.registro_pasantia %></td>
            <td><%= link_to 'Ver', becario %></td>
        <td><%= link_to 'Editar', edit_becario_path(becario) %></td>
        <td><%= link_to 'Eliminar', becario, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
