<h1>Informes Ingresados</h1>

<div class="table-responsive">
  
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
              <th>Descripcion</th>
              <th>Es final</th>
              <th>Fecha</th>
              <th>Documento de informe</th>
              <th>Importar documento</th>
              <th>Actualizar</th>
        </tr>
      </thead>

      <tbody>
          <%= content_tag_for(:tr, @informes_convocatoria) do |informe| %>

              <%= form_for(informe, :html => { :class => "form-horizontal" }) do |f| %>  
                <td><%= f.text_area :descripcion, :class => "form-control" %></td>
                <td><%= f.check_box :es_final, :class => "form-control" %></td>
                <td><%= informe.fecha %></td>
                <td>
                  <% if !informe.document.blank? %>
                    <%= link_to "Download", informe.document.url(:original, false), target: '_blank' %>
                  <% end %>
                </td>
                <td><%= f.file_field :document %></td>
                <td><%= f.submit "Guardar Cambios" %></td>
              <% end %>

          <% end %>
      </tbody>
    </table>
</div>
