<h1>Convocatorias</h1>
<h6>Lista de convocatorias de formación en que participa el becario:</h6>
    
<%= form_for :informes, :html => { :class => "form-group" } do |f| %>

  <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>No. Convocatoria</th>
        <th>Nombre de Convocatoria</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @convocatorias) do |proyecto| %>
        <td><%= proyecto.num_convocatoria %></td>
        <td><%= proyecto.nombre_convocatoria %></td>
        <td><%= link_to 'Ver informes', informes_por_convocatoria_proyecto_path(proyecto) %></td>
      <% end %>
    </tbody>
  </table>
</div>

<% end %>
