<div class="page-header">
  <%= link_to becarios_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_becario_path(@becario), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Información del Becario</h1>
</div>

<dl class="dl-horizontal">
  <dt>Condonacion beneficiarios:</dt>
  <dd><%= @becario.condonacion_beneficiarios %></dd>

  <dt>Cumple requisitos:</dt>
  <dd><%= @becario.cumple_requisitos %></dd>

  <dt>Numero DI:</dt>
  <dd><%= @becario.numero_DI %></dd>

  <dt>Nombre:</dt>
  <dd><%= @becario.nombre %></dd>

  <dt>Apellido 1:</dt>
  <dd><%= @becario.apellido1 %></dd>

  <dt>Apellido 2:</dt>
  <dd><%= @becario.apellido2 %></dd>

  <dt>Fecha Nacimiento:</dt>
  <dd><%= @becario.fecha_nacimiento %></dd>

  <dt>Departamento Nacimiento:</dt>
  <dd><%= @becario.departamento_nacimiento %></dd>

  <dt>Género:</dt>
  <dd><%= @becario.genero %></dd>

  <dt>Email:</dt>
  <dd><%= @becario.email %></dd>

  <dt>Teléfono:</dt>
  <dd><%= @becario.telefono %></dd>

  <dt>Direccion Residencial:</dt>
  <dd><%= @becario.direccion_residencial %></dd>

  <dt>Ciudad:</dt>
  <dd><%= @becario.ciudad %></dd>

  <dt>Direccion Profesional:</dt>
  <dd><%= @becario.direccion_profesional %></dd>  

  <dt>Info beneficiario:</dt>
  <dd><%= @becario.info_beneficiario %></dd>

  <dt>Info programa doctoral:</dt>
  <dd><%= @becario.info_programa_doctoral %></dd>

  <dt>Info tesis:</dt>
  <dd><%= @becario.info_tesis %></dd>

  <dt>Registro pasantia:</dt>
  <dd><%= @becario.registro_pasantia %></dd>

</dl>

<%= link_to informes_anuales_condonacion_becario_path(@becario), :class => 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Seguimiento a Becarios - Informes anuales para condonación
<% end %>
