<h1>Informes Asignados para Evaluar</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Descripcion</th>
            <th>Es final</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @informes_evaluador) do |informe| %>
            <td><%= informe.descripcion %></td>
            <td><%= informe.es_final %></td>
            <td><%= informe.fecha %></td>
            <td><%= informe.tipo %></td>
            <td><%= link_to 'Evaluar', informe %></td>
      <% end %>
    </tbody>
  </table>
</div>
