<div class="page-header">
  <%= link_to users_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_user_path(@user), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Ver user</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nombre:</dt>
  <dd><%= @user.nombre %></dd>

  <dt>Email:</dt>
  <dd><%= @user.email %></dd>

  <dt>Becario:</dt>
  <dd><%= @user.becario %></dd>

</dl>


<h2>Opciones Usuario Colciencias:</h2>

<h3>Seguimiento a Becarios</h3>
<div class="btn-group">
  <%= link_to listar_evaluadores_proyectos_path, :class => 'btn btn-default' do %>
  Asignar Evaluador para informe de condonación
  <% end %>
  <button type="button" class="btn btn-default">Opc2</button>
  <button type="button" class="btn btn-default">Opc3</button>
</div>

<h2>Opciones Evaluador:</h2>

<h3>Mis Evaluaciones</h3>
<div class="btn-group">
  <%= link_to listar_informes_evaluador_user_path, :class => 'btn btn-default' do %> Informes Asignados para Evaluación
  <% end %>
  <button type="button" class="btn btn-default">Opc2</button>
  <button type="button" class="btn btn-default">Opc3</button>
</div>
